@import "../../node_modules/bootstrap/scss/functions";

// custom variable here
@import "../scss/custom-variable.scss";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.navbar {
    border: none;
}

.collection-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;

    h5 {
        color: white;
        margin: auto;
    }
}

