@import "../../node_modules/bootstrap/scss/functions";

// custom variable here
@import "../scss/custom-variable.scss";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.navbar {
    border: none;
}

// accordion
.accordion-item {
    border: 0;
}
.accordion-button {
    padding: 1.5rem 0;
    h5 {
        margin-bottom: 0;
    }
}

@include media-breakpoint-down(md) {
    .accordion-button {
        padding: 1rem 0;
    }
}

.accordion-body {
    padding: 0 0 1.5rem 0;
}

.form-check {
    margin-bottom: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.dropdown-toggle::after {
    content: none;
}

.dropdown-item:hover {
    text-decoration: none;
}

.collection-overlay {
    background-color: transparent;
}
.stats-wrapper {
    width: 90%;
    .stat {
        margin: 0 0.25rem;
        background-color: rgba(white, 0.75);
        
        padding: 2rem;
        flex: 1 1 100%;

        h4 {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(md) {
        .stat {
            margin: .25rem 0;
            padding: 1rem;
        }
    }
}

.uploadBtn {
    background-color: white;
    border: 1px solid $primary;
    // width: 280px;
    height: 200px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    // flex-direction: column;
    justify-content: center;
    // font-size: 1.5rem;
    color: $primary;

    i.fa-solid {
        font-size: 1.5rem;
        // margin-bottom: 1rem;
    }
}
